<div class="container max-width-adaptive-md" id="partners">
	<div class="text-component margin-bottom-lg">
		<h2 class="text-xl text-xxl@sm margin-bottom-xs">Partners</h2>

		<p>Milton Keynes Geek Night is made possible by the generous support of our partners and sponsors. If you would like to support MK Geek Night please get in touch - we have a range of opportunities and always open to new ideas.</p>
	</div>
	
	<h5 class="font-primary font-bold color-accent margin-bottom-sm">Partners</h5>

	<ul class="flex gap-xl margin-bottom-xxxxs">
		<li class=""><img class="height-xl" src="{{ siteUrl }}uploads/partners/guru-colour.svg" alt=""></li>
	</ul>

	<h5 class="font-primary font-bold color-accent margin-bottom-sm">Community partners</h5>

	<ul class="flex gap-xl margin-bottom-xxxxs">
		<li class=""><img class="height-lg" src="{{ siteUrl }}uploads/partners/SP_Landscape-Long-Logo_CMYK.svg" alt=""></li>
	</ul>

	<h5 class="font-primary font-bold color-accent margin-bottom-sm">In-kind partners</h5>

	<ul class="flex gap-xl margin-bottom-md">
		<li class=""><img class="height-lg" src="{{ siteUrl }}uploads/partners/tito-machine.svg" alt=""></li>
		<li><img class="height-lg" src="{{ siteUrl }}uploads/partners/PixelCreation.2018.colour.svg" alt=""></li>
	</ul>
</div>