{% if entry.titoEventName | length %}
<section class="gradient margin-bottom-xl" id="tickets">
	<div class="container max-width-adaptive-md color-white svg-inherit text-component">

		<h2 class="text-xl text-xxl@sm margin-bottom-xs color-white">Tickets</h2>
		<div class="font-secondary text-md color-tertiary-lighter margin-bottom-sm">#{{ entry.eventNo }} {{ entry.eventDate | date('M j Y') }}</div>

		{{ entry.ticketIntro }}

		<tito-widget event="mkgn/mkgn-34"></tito-widget>

	</div>
</section>
{% endif %}