// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/forms

// --------------------------------

:root{
  --form-control-padding-x: var(--space-sm);
  --form-control-padding-y: var(--space-xs);
  --form-control-radius: 0em;
}

.form-control {
  border: 2px solid var(--color-tertiary-lighter);
  transition: all 0.3s ease;

  &::-webkit-input-placeholder {
    color: var(--color-secondary-lighter);
  }

  &::-moz-placeholder {
    color: var(--color-secondary-lighter);
  }

  &:-ms-input-placeholder {
    color: var(--color-secondary-lighter);
  }

  &:-moz-placeholder {
    color: var(--color-secondary-lighter);
  }

  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0px 0px 0px 3px alpha(var(--color-primary), 0.2);
    outline: none;
  }
}

.form-control[disabled], .form-control[readonly] {
  cursor: not-allowed;
}

.form-control[aria-invalid="true"] {
  border-color: var(--color-error-dark);

  &:focus {
    box-shadow: 0px 0px 0px 3px alpha(var(--color-error), 0.2);
  }
}

.form-legend {
  color: var(--color-contrast-higher);
  font-size: var(--text-md);
  line-height: 1.2;
  margin-bottom: var(--space-xxs);
}

.form-label {
  font-size: var(--text-sm);
}

// --------------------------------

// (END) Global Editor Code

// --------------------------------