:root {
  // radius
  --radius: 0.55em; // border radius base size
}

html {
	scroll-behavior: smooth;
}

.container {
	width: calc(100% - 2*var(--component-padding));
	margin-left: auto;
	margin-right: auto;

	@include breakpoint(md) {
		width: calc(100% - 2.5*var(--component-padding));
	}

	@include breakpoint(xl) {
		width: calc(100% - 3.5*var(--component-padding));
	}
}

.breakout { 
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100vw; 
}

.nav__mobile {
	z-index: 99;
}

.link__badge {
	margin-right: .75rem;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		background: var(--color-primary);
		border-radius: 50%;
		padding: .25rem;
		right: -.75rem;
		top: 0;
	}

	&.link__badge--white {
		&:after {
			background: var(--color-accent-dark);
		}
	}
}

.event__speaker--border {
	height: 2px;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(151,68,243,1) 35%, rgba(249,57,245,1) 62%, rgba(255,255,255,1) 100%);
	margin-bottom: var(--space-lg);
}



.speaker__role {
	font-weight: var(--font-bold-weight);
	margin: var(--space-sm) 0;

	@include breakpoint(sm) {
		font-weight: 400;
		transform: rotate(90deg);
		white-space: nowrap;
		transform-origin: top left;
		margin: 0;
	}
}

.event__img {
	width: 30%;

	@include breakpoint(sm) {
		width: auto;
	}
}

.partner--lead {
	height: var(--space-md);
}