// .sidebar__content {

// }

// .sidebar__nav {
// 	position: sticky;
// 	top: 0;
// }

.html-off-canvas--visible {
    overflow: hidden;
}

ul {
	nav &,
	nav.text-component & {
		list-style: none;

		margin-bottom: var(--space-md);

		@include breakpoint(md) {
			margin-bottom: var(--space-sm);
		}
	}
}

.sidebar__link--primary,
.sidebar__link--secondary,
.sidebar__link--tertiary {
	background-image: linear-gradient(transparent 50%, var(--color-accent) 50%);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	color: var(--color-white);
	will-change: background-size;
	transition: background-size .3s var(--ease-in-out);

	&:hover {
		background-size: 100% 100%;
	}

	@include breakpoint(md) {
		background-image: linear-gradient(transparent 50%, alpha(var(--color-primary), 0.2) 50%);
		color: var(--color-primary);

		&:hover {
			color: var(--color-accent-darker);
		}
	}
}

.sidebar__link--primary {
	font-size: var(--text-lg);

	@include breakpoint(md) {
		font-size: var(--text-md);
	}
}

.sidebar__link--secondary {
	font-size: var(--text-md);
	margin-bottom: var(--space-xxxs);


	@include breakpoint(md) {
		font-size: calc(var(--text-sm) + 15%);
		margin-bottom: 0;
	}
}

.sidebar__link--tertiary {
	display: inline-block;;
	font-size: var(--text-base);
	margin-bottom: var(--space-xxs);

	@include breakpoint(md) {
		font-size: var(--text-sm);
		margin-bottom: var(--space-xxxxs);
	}
}

.sidebar__logo {
	width: 6rem;

	@include breakpoint(md) {
		width: 8rem;
	}
}