/* -------------------------------- 

File#: _1_responsive-sidebar
Title: Responsive Sidebar
Descr: Responsive sidebar container
Usage: codyhouse.co/license

-------------------------------- */

:root {
	// default -> sidebar controlled by button (optimized for smaller screens)
	--sidebar-width: 100%;
	--sidebar-max-width: 100%;

	// static variation -> sidebar is always visible (optimized for bigger screens)
	--sidebar-static-width: 24%;
	--sidebar-static-max-width: 380px;
	--sidebar-static-height: 100%;
	--sidebar-static-min-height: 0;

	--off-canvas-animation-duration: 0.4s;
}

.sidebar, .sidebar__panel {
	//top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.sidebar {
	position: relative;
	// visibility: hidden;
	// transition: visibility 0s .3s;
	will-change: transform;
 	transition: all var(--off-canvas-animation-duration) var(--ease-in-out); 
	flex-shrink: 0;

	height: 0px;

	bottom: 0;
	overflow-x: hidden;

	&::after { // overlay layer
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: alpha(var(--color-black), 0);
		transition: background-color .3s;
		z-index: 1;
	}
	
	&:not(.sidebar--static) {
		position: fixed;
		z-index: var(--zindex-fixed-element);
	}
}

.sidebar--is-visible {
	// visibility: visible;
	// transition: none;

	height: 100%;
	
	&::after {
		background-color: alpha(var(--color-black), 0.85);
	}
}

.sidebar__panel { // content
	position: absolute;
	z-index: 2;
	width: var(--sidebar-width);
	max-width: var(--sidebar-max-width);
	display: flex;
	flex-direction: column;
	background-color: var(--color-secondary);
	transform: translateY(100%);
	// transition: .3s;

	top: 0;


  transition: transform var(--off-canvas-animation-duration) var(--ease-in-out); 

	.sidebar--is-visible & {
		transform: translateY(0);
	}
}

.sidebar__close-btn {
	width: 2em;
	height: 2em;
	display: flex;
	border-radius: 50%;
	background-color: var(--color-bg);
	box-shadow: var(--shadow-sm);
	transition: .2s;
	flex-shrink: 0;

	&:hover {
		box-shadow: var(--shadow-md);
	}
	
	.icon {
		display: block;
		color: var(--color-contrast-high);
		margin: auto;
	}
}

.sidebar__content {
	// height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

// --static
.sidebar--static, html:not(.js) .sidebar {
	// visibility: visible;
	transition: none;
	width: var(--sidebar-static-width);
	max-width: var(--sidebar-static-max-width);
	// height: var(--sidebar-static-height);
	// min-height: var(--sidebar-static-min-height);

	// height: auto;
	// will-change: auto;

	&::after {
		display: none;
	}

	.sidebar__panel {
		position: static;
		// position: fixed;
		display: block;
		background-color: transparent;
		transform: translateY(0);
		transition: none;
		box-shadow: none;
	}

	.sidebar__content {
		overflow: visible;
	}

	.sidebar__close-btn {
		display: none;
	}

	@include breakpoint(md) {
		height: auto;
		will-change: auto;

		.sidebar__panel {
			position: fixed;
		}
	}

	@include breakpoint(lg) {
		width: 22%;
	}

	@include breakpoint(xl) {
		width: 20%;
	}
}

.js {
	.sidebar {
		opacity: 0; // hide sidebar while it is initialized in JS
	}

	.sidebar--loaded {
		opacity: 1;
	}
}

html:not(.js) {
	.sidebar {
		position: static;
	}
}

// detect when the sidebar needs to switch from the mobile layout to a static one - used in JS
[class*="sidebar--static"]::before {
	display: none;
}

@each $mq in 'xs' 'sm' 'md' 'lg' 'xl' {
	.sidebar--static\@#{$mq}::before {
		content: 'mobile';
		@include breakpoint(#{$mq}) {
			content: 'static';
		}
	}
}

// no-js
html:not(.js) .sidebar {
	position: static;
}

.sidebar__header {
	// color: var(--color-white);
	color: var(--color-primary);

	// @include breakpoint(md) {
	// 	color: var(--color-accent);
	// }
}