{% extends "_layout" %}
{% if entry.seoTitle %}
	{% set title = entry.seoTitle %}
{% else %}
	{% set title = entry.title %}
{% endif %}
{% if entry.seoDescription %}
	{% set seoDescription = entry.seoDescription %}
{% endif %}
{% if entry.seoKeywords %}
	{% set seoKeywords = entry.seoKeywords %}
{% endif %}

{% block content %}
	<section class="content // content--pad // content--black // content--below // diag-t-rh-big">
		<div class="grid">
			<h2 class="margin--double--mq">{{ entry.title }}</h2>
			
			<article class="content__simple">
				{{ entry.body }}
			</article>
		</div>
	</section>
{% endblock %}