{% extends "_layout" %}
{% if entry.seoTitle %}
	{% set title = entry.seoTitle %}
{% else %}
	{% set title = entry.title %}
{% endif %}
{% if entry.seoDescription %}
	{% set seoDescription = entry.seoDescription %}
{% endif %}
{% if entry.seoKeywords %}
	{% set seoKeywords = entry.seoKeywords %}
{% endif %}

{% block content %}

{% set thisEventDate = entry.eventDate %}

<section class="content // content--pad // content--dark-purple // content--above // diag-t-rh-big">
	<div class="grid">
		<time class="block // center">{{ thisEventDate | date('M j, Y') }}</time>
		<h2>Speakers</h2>
		
		<article class="content__simple // margin--double--mq">
			{{ entry.speakerIntro }}
		</article>
	</div>
</section>

{% set talks = craft.entries.section('talks').relatedTo({
	sourceElement: entry,
	field: 'talks'
}).order('sortOrder') %}


{% if talks | length %}
	{% for entry in talks %}
	
	{% set speakeritem = craft.entries.section('speakers').relatedTo({
		targetElement: entry,
		limit: 1
	}) %}
	{% set audio = entry.speakerAudio %}
	
	<section class="content // content--pad // {{ cycle(['content--dark-purple // content--below','content--black // content--above // diag-t-rh // diag-b-lh'],loop.index) }}" id="{% for entry in speakeritem %}{{ entry.firstName }}{% endfor %}">
		<div class="grid">		
			{% for entry in speakeritem %}

			<figure class="content__split__med // speaker__headline">
				<div class="no--underline // img--overlap-speaker">
				{% for image in entry.profilePhoto %}
					{% if entry.profilePhoto %}
					<img src="{{ image.getUrl('profile') }}" alt="{{ entry.title }}">
					{% endif %}
				{% endfor %}
					<figcaption class="speaker__label">
						<div class="btn--style"><b>{{ entry.firstName }}<br>{{ entry.lastName }}</b></div>
					</figcaption>
				</div>
				
				<aside class="speaker__details">
					{% if entry.twitterHandle %}
						<h5 class="margin--none">On Twitter</h5>
						<h5><a href="https://twitter.com/{{ entry.twitterHandle }}">@{{ entry.twitterHandle }}</a></h5>
					{% endif %}

					{% if entry.instagramHandle %}
						<h5 class="margin--none">On Instagram</h5>
						<h5><a href="https://www.instagram.com/{{ entry.instagramHandle }}">@{{ entry.instagramHandle }}</a></h5>
					{% endif %}
					
					{% for row in entry.website %}
						{% if row.websiteURL %}
						<h5 class="margin--none">On The Internetz</h5>
						<h5><a href="{{ row.websiteURL }}">{{ row.prettyUrl }}</a></h5>
						{% endif %}
					{% endfor %}
					{% if audio %}
					<h5 class="margin--none">Listen to the talk</h5></dt>
					<h6 class="speaker__audio"><iframe width="100%" height="20" scrolling="no" frameborder="no" src="{{ audio }}&amp;color=e83973&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe></h6>
					{% endif %}
				</aside>
			</figure>
			{% endfor %}
			
			<article class="content__split__med // last">
				<h3>{{ entry.heading }}</h3>
				
				{{ entry.body }}
				{% for entry in speakeritem %}
					{% if entry.bio %}
					<hr>
					
					<h5 class="margin--none">About {{ entry.firstName }}</h5>
					
					{{ entry.bio }}
					{% endif %}
				{% endfor %}
			</article>
		</div>
	</section>
	{% endfor %}
{% endif %}

{# TICKETS SECTION #}

{% if entry.eventDate > now %}
{% include '_includes/tickets' %}
{% endif %}



{# PARTNERS SECTION #}
{% include '_includes/partners' %}	

{% endblock %}