{% extends "_layout" %}
{% if entry.seoTitle %}
	{% set title = entry.seoTitle %}
{% else %}
	{% set title = entry.title %}
{% endif %}
{% if entry.seoDescription %}
	{% set seoDescription = entry.seoDescription %}
{% endif %}
{% if entry.seoKeywords %}
	{% set seoKeywords = entry.seoKeywords %}
{% endif %}

{% set events = craft.entries({
	section: ['events'],
	with: [
		'entry.title',
		'entry.url',
	]
}).limit(null) %}

{#

{% set events = craft.entries({
	section: 'events',
	with: [
		'entry.title',
		'entry.url'
	]
})%}
#}


{% block content %}

<section class="content // content--pad // content--dark-purple // content--above // diag-t-rh-big">
	<div class="grid">
		<h2>Past Events</h2>
		
		<article class="content__simple // margin--double--mq">
			{{ entry.body }}
		</article>
	</div>
</section>

{% for entry in events.eventDate('<=' ~ (now)).order('eventDate DESC') %}
{# <section class="content // content--pad // content--dark-purple // content--above // diag-t-rh // diag-b-lh" id="speakers"> #}
<section class="content // content--pad // {{ cycle(['content--dark-purple // content--below','content--black // content--above // diag-t-rh // diag-b-lh'],loop.index) }}" id="{{ entry.eventNo }}">
	{% set headlineTalks = craft.entries.section('talks').relatedTo({
		sourceElement: entry,
		field: 'talks'
	}).headlineTalk('1') %}
	{% set talks = craft.entries.section('talks').relatedTo({
		sourceElement: entry,
		field: 'talks'
	}).headlineTalk('not 1') %}
	
	
	<div class="grid">
		<h2 class="center // margin--double--mq"><a href="{{ entry.url }}">{{ entry.eventDate | date('M j, Y') }}</a></h2>
	</div>
	{% set eventLink = entry.url %}
	<div class="grid">
		{% for entry in headlineTalks %}
	
			{% set speakeritem = craft.entries.section('speakers').relatedTo({
				targetElement: entry,
				limit: 1
			}) %}
			{% for entry in speakeritem %}
			<figure class="content__split__med // speaker__headline">
				<a href="{{ eventLink }}/#{{ entry.firstName }}" class="no--underline // img--overlap-speaker // animateIn // fadeInUp">
					{% for image in entry.profilePhoto %}
						{% if entry.profilePhoto %}
						<img src="{{ image.getUrl('profile') }}" alt="{{ entry.title }}">
						{% endif %}
					{% endfor %}
					<figcaption class="speaker__label">
						<div class="btn"><b>{{ entry.firstName }}<br>{{ entry.lastName }}</b></div>
					</figcaption>
				</a>
			</figure>
			{% endfor %}
		
		{% endfor %}
	</div>
	
	<div class="grid // grid__wide">
		{% for entry in talks %}
	
			{% set speakeritem = craft.entries.section('speakers').relatedTo({
				targetElement: entry,
				limit: 1
			}) %}
			{% for entry in speakeritem %}
			<figure class="content__split__thirds // speaker__5">
				<a href="{{ eventLink }}/#{{ entry.firstName }}" class="no--underline // img--overlap-speaker // animateIn // fadeInUp">
					{% for image in entry.profilePhoto %}
						{% if entry.profilePhoto %}
						<img src="{{ image.getUrl('profile') }}" alt="{{ entry.title }}">
						{% endif %}
					{% endfor %}
					<figcaption class="speaker__label">
						<div class="btn"><b>{{ entry.firstName }}<br>{{ entry.lastName }}</b></div>
					</figcaption>
				</a>
			</figure>
			{% endfor %}
		
		{% endfor %}
	</div>
	
</section>

{% endfor %}

{#
{% if events | length %}
	<section class="content // content--pad // content--reverse // content--brand-green">
		<div class="grid">
			<h2 class="center // margin--double">Upcoming events</h2>
			{% for entry in events.date('>=' ~ (now.date)).order('date ASC') %}
			{% endfor %}
		</div>
	</section>


	<section class="content // content--pad //" id="past">
		<div class="grid">
			<h2 class="center // margin--double">Past events</h2>
			{% for entry in events.date('<' ~ (now.date)).order('date DESC') %}
			{% endfor %}
		</div>
	</section>
{% endif %}
#}

{% endblock %}

