{% extends "_layout" %}
{% if entry.seoTitle %}
	{% set title = entry.seoTitle %}
{% else %}
	{% set title = entry.title %}
{% endif %}
{% if entry.seoDescription %}
	{% set seoDescription = entry.seoDescription %}
{% endif %}
{% if entry.seoKeywords %}
	{% set seoKeywords = entry.seoKeywords %}
{% endif %}

{% set articles = craft.entries.section('blog').limit(10).relatedTo({
	targetElement: entry
}) %}

{% set futureEvents = [] %}
{% set pastEvents = [] %}

{% for event in craft.entries.section(['events', 'workshops']).date('>=' ~ (now.date)).order('date ASC') %}
    {% if event.schedule.relatedTo({ targetElement: entry }).total() > 0 %}
        {% set futureEvents = futureEvents|merge([event]) %}
    {% endif %}
{% endfor %}

{% for event in craft.entries.section(['events', 'workshops']).date('<' ~ (now.date)).order('date DESC') %}
    {% if event.schedule.relatedTo({ targetElement: entry }).total() > 0 %}
        {% set pastEvents = pastEvents|merge([event]) %}
    {% endif %}
{% endfor %}

{% block content %}	
	<section class="content // content--pad // content--reverse // content--brand-grey // paths--bg">
		<div class="grid">
			{% cache for 1 month %}
			<h2 class="center // margin--none">{{ entry.title }}</h2>
			<h6 class="center">{{ entry.jobTitle }}</h2>
			
			<figure class="content__dominant__aside // center">
				{% set photo = entry.photo.first() %}
				{% set transformedImages = craft.imager.transformImage(photo, [{ width: 600, height: 600 }, { width: 250, height: 250 }], { mode: 'crop', position: 'center-center' }) %}
				<img src="{{ craft.imager.transformImage(photo, { width: 600, height: 600, mode: 'crop', position: 'center-center' }) }}" srcset="{{ craft.imager.srcset(transformedImages) }}" sizes="(min-width: 48em) 40vw, 100vw" alt="{{ entry.title }}" class="avatar // avatar--med // margin // center--media"/>
				
				<figcaption class="center">
					{% if entry.website %}
					<h6 class="margin--none">On the Web</h6>
					<p><a href="http://{{ entry.website }}" target="_blank">{{ entry.website }}</a></p>
					{% endif %}
					{% if entry.twitterName %}
					<h6 class="margin--none">On Twitter</h6>
					<p><a href="https://twitter.com/{{ entry.twitterName }}" target="_blank">@{{ entry.twitterName }}</a></p>
					{% endif %}
				</figcaption>
			</figure>

			<article class="content__dominant">				
				{{ entry.body }}
			</article>
			{% endcache %}
		</div>
	</section>
	
	{% cache for 3 days %}
	{% if (futureEvents or pastEvents or articles|length) %}
	<section class="content // content--pad // content--brand-light-grey">
		<div class="grid">
			<article class="content__split__even">
				{% if futureEvents %}
				<h4>See {{ entry.firstName }} next at</h4>
				
				<ul class="no--bullets // list--border // margin--double // margin--left--none">
				{% for entry in futureEvents %}
					<li><a href="{{ entry.url }}">{{ entry.title }}</a> - {{ entry.dateFriendlyShort }}</li>
				{% endfor %}
				</ul>
				{% endif %}
				
				{% if pastEvents %}
				<h6>Past Events</h6>
				
				<ul class="no--bullets // list--border // margin--left--none">
				{% for entry in pastEvents %}
					<li><a href="{{ entry.url }}">{{ entry.title }}</a> - {{ entry.dateFriendlyShort }}</li>
				{% endfor %}
				</ul>
				{% endif %}
			</article>
			{% if articles|length %}
			<article class="{% if (futureEvents or pastEvents) %}content__split__even{% else %}content__simple{% endif %}">			
				<h4>Articles & Interviews</h4>
				
				<ul class="no--bullets // list--border // margin--double // margin--left--none">
				{% for entry in articles %}
				{% set cat = entry.blogCategory.first() %}
					<li>
						<h6 class="text--small-grey // margin--half">{{ entry.postDate.format('d/m/Y') }}<span class="middledot"><a href="{{ cat.url }}">{{ cat }}</a></span></h6>
						<h5 class="margin--half"><a href="{{ entry.url }}">{{ entry.title }}</a></h5>
					</li>
				{% endfor %}
				</ul>
			</article>
			{% endif %}
		</div>
	</section>
	{% endif %}
	{% endcache %}
	
	{% cache for 5 days %}
	{% if entry.videosDetail | length %}
	<section class="content // content--pad // content--reverse // content--brand-orange">
		<div class="grid">
			<h2 class="center">Videos</h2>
			{% for block in entry.videosDetail %}
				{% if loop.first %}
				<div class="grid">
					<article class="content__simple // content__video // margin--double">
						{{ block.videoEmbed }}<br>
						<strong>{{ block.videoTitle }}</strong>
						{% set relatedEvent = craft.entries.section(['events', 'workshops']).relatedTo(block) %}
						{% for entry in relatedEvent %}
							<br><a href="{{ entry.url }}">{{ entry.title }}</a> - {{ entry.dateFriendlyShort }}
						{% endfor %}
					</article>
					</div>
					{% else %}
				<article class="content__split__even // content__video // margin--double">
					{{ block.videoEmbed }}<br>
					<strong>{{ block.videoTitle }}</strong>
					{% set relatedEvent = craft.entries.section(['events', 'workshops']).relatedTo(block) %}
					{% for entry in relatedEvent %}
						<br><a href="{{ entry.url }}">{{ entry.title }}</a> - {{ entry.dateFriendlyShort }}
					{% endfor %}
				</article>
				{% endif %}
				
			{% endfor %}
		</div>
	</section>
	{% endif %}
	{% endcache %}
	
	{% include '_includes/newsletter' %}
	
{% endblock %}