{% extends "_layout" %}
{% if entry.seoTitle %}
	{% set title = entry.seoTitle %}
{% else %}
	{% set title = entry.title %}
{% endif %}
{% if entry.seoDescription %}
	{% set seoDescription = entry.seoDescription %}
{% endif %}
{% if entry.seoKeywords %}
	{% set seoKeywords = entry.seoKeywords %}
{% endif %}

{% block content %}
	{# Include the Masthead #}
	{% include '_includes/masthead' %}
	
	{# Start Matrix Content Blocks #}
	{% include '_includes/contentBuilder' %}
	
	{% cache for 1 week %}
	{% set speakers = craft.entries({
		section: 'pioneers',
		with: [
			'entry.title',
			'entry.photo.first()',
			'entry.url',
			'entry.firstName',
			'entry.twitterName',
			'entry.lastName'
		]
	}).limit(null).order('lastName asc') %}
	{% if speakers | length %}
		<section class="content // content--pad // content--reverse // has--content--white-panel // content--brand-orange">
			<div class="grid">
				{% for entry in speakers %}
				{% set futureEvents = [] %}
				{% for event in craft.entries.section(['events', 'workshops']).date('>=' ~ (now.date)).order('date ASC') %}
				    {% if event.schedule.relatedTo({ targetElement: entry }).total() > 0 %}
				        {% set futureEvents = futureEvents|merge([event]) %}
				    {% endif %}
				{% endfor %}
				<div class="panel // content__split__even // content--white // content__left-avatar // animateIn // fadeInDown // margin">
					{% for image in entry.photo %}
						<a href="{{ entry.url }}" class="no--underline // media__left--panel">
						<img src="{{ image.getUrl('avatarLarge') }}" alt="{{ entry.title }}" class="avatar"/>
						</a>
					{% endfor %}
					<div class="content__media__left__panel">
						<h6 class="margin--none"><a href="{{ entry.url }}">{{ entry.title }}</a></h6>
						
						
						{% if futureEvents %}
						{% set location = craft.entries({
						    relatedTo: { sourceElement: futureEvents, field: 'locationField' },
						    limit:     null
						}) %}
							<p class="text--deci"><strong>See {{ entry.firstName }} next at {% for entry in futureEvents %}<a href="{{ entry.url }}">{% for entry in location %}{{ entry.title }}{% endfor %}</a>{% endfor %}</strong></p>
						{% elseif entry.twitterName %}
							<p class="text--deci"><a href="https://twitter.com/{{ entry.twitterName }}" target="_blank">@{{ entry.twitterName }}</a></p>
						{% endif %}
						
{# 						{% if entry.twitterName %}<p class="text--deci"><a href="https://twitter.com/{{ entry.twitterName }}" target="_blank">@{{ entry.twitterName }}</a></p>{% endif %} #}
						<p><a href="{{ entry.url }}" class="btn // btn--secondary">Pioneer Info</a></p>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
	{% endif %}
	{% endcache %}
{% endblock %}