{% set seoTitleGlobal = globalSeo.seoTitle %}
{% set seoDescriptionGlobal = globalSeo.seoDescription %}
{% set seoKeywordsGlobal = globalSeo.seoKeywords %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<title>{% if seoTitle is defined %}{{ seoTitle }}{% elseif title is defined %}{{ title }}{% else %}{{ seoTitleGlobal }}{% endif %}</title>
	<meta name="description" content="{% if seoDescription is defined %}{{ seoDescription }}{% else %}{{ seoDescriptionGlobal }}{% endif %}"/>
	<meta name="keywords" content="{% if seoKeywords is defined %}{{ seoKeywords }}{% else %}{{ seoKeywordsGlobal }}{% endif %}"/>
	
	<meta property="og:title" content="{% if seoTitle is defined %}{{ seoTitle }}{% elseif title is defined %}{{ title }}{% else %}{{ seoTitleGlobal }}{% endif %}"/>
	<meta property="og:description" content="{% if seoDescription is defined %}{{ seoDescription }}{% else %}{{ seoDescriptionGlobal }}{% endif %}"/>
	
	<meta property="og:site_name" content="Milton Keynes Geek Night"/>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="Rating" content="General">
	<meta name="revisit-after" content="30 Days">
	<meta name="author" content="Pixel Creation Ltd">
	<meta name="dcterms.dateCopyrighted" content="&copy; {{ now.year }}">
{# 	{% if craft.config.devMode %} #}

	
	{% if entry.seoRobots == 0 or craft.config.devMode %}
	<meta name="robots" content="noindex, nofollow">
	{% endif %}
	
	<!-- TODO: Complete the HUMANS File -->
	<!-- HUMANS
	================================================== -->
	<link rel="home" href="{{ siteUrl }}" />
	<link type="text/plain" rel="author" href="/humans.txt" />
	
	<meta name="msapplication-tap-highlight" content="no" />
	<meta http-equiv="cleartype" content="on">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="stylesheet" href="{{ siteUrl }}css/styles.css">
	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
	
	<link href="https://fonts.googleapis.com/css?family=Noticia+Text:400,400i,700,700i" rel="stylesheet">
	
	<script>
		document.getElementsByTagName('html')[0].className = 'js';
		//(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
	</script>
	<script src="https://js.tito.io/v1" async></script>
{# 	<script>TitoDevelopmentMode = true</script> #}
	
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-46059603-1', 'auto');
	ga('send', 'pageview');
	
	</script>
</head>

<body class="{% cache for 3 months %}{{ craft.request.getSegment(1) ?: 'home' }}{% block bodyClass %}{% endblock %}{% endcache %}">
	<header class="header" role="banner">
		<div class="grid">
			<div><a href="/" class="header__logo // animateIn // fadeIn">MK Geek Night</a></div>
				
			<nav>
				<ul class="secondary__nav">
					<li><a href="{{ siteUrl }}#tickets">Tickets</a></li>
				</ul>
			</nav> <!-- secondary__nav -->
			
{# 			<a class="primary__nav__search__trigger" href="#search">Search<span></span></a> #}
			<a class="primary__nav__trigger" href="#">
				<span class="primary__nav__trigger__icon"></span>
			</a>
		</div>
	</header>
	<nav class="primary__nav">
		<ul class="grid">
			<li><a href="{{ siteUrl }}#speakers">Speakers</a></li>
			<li><a href="{{ siteUrl }}#location">Location</a></li>
			<li><a href="{{ siteUrl }}#tickets">Tickets</a></li>
			<li><a href="{{ siteUrl }}#partners">Partners</a></li>
			<li><a href="{{ siteUrl }}past">Past Events</a></li>
			<li><a href="mailto:howdy@mkgeeknight.co.uk">Contact</a></li>
			<li><a href="{{ siteUrl }}speak">Give A Talk</a></li>
			<li><a href="{{ siteUrl }}code-of-conduct">Code Of Conduct</a></li>
			
			<li class="primary__nav__icons // margin--top--small">
				<a href="http://twitter.com/MKGeekNight" target="_blank" class="no--underline">
					<svg class="icon">
						<use xlink:href="#icon-twitter"></use>
					</svg>
				</a>
				<a href="http://www.facebook.com/MKGeekNight" target="_blank" class="no--underline">
					<svg class="icon">
						<use xlink:href="#icon-facebook"></use>
					</svg>
				</a>
				<a href="https://soundcloud.com/mkgn" target="_blank" class="no--underline">
					<svg class="icon">
						<use xlink:href="#icon-soundcloud"></use>
					</svg>
				</a>
				<a href="https://foursquare.com/mkgeeknight/list/mk-geek-night-1" target="_blank" class="no--underline">
					<svg class="icon">
						<use xlink:href="#icon-foursquare"></use>
					</svg>
				</a>
				<a href="https://www.flickr.com/search/?q=mkgn" target="_blank" class="no--underline">
					<svg class="icon">
						<use xlink:href="#icon-flickr"></use>
					</svg>
				</a>
				<a href="mailto:howdy@mkgeeknight.co.uk" target="_blank" class="no--underline">
					<svg class="icon">
						<use xlink:href="#icon-email"></use>
					</svg>
				</a>
			</li>
			
{#
			<li class="font--normal">
				<form class="header__search-form">
					<label class="primary__nav__label">Search MKGN</label>
					<input type="search" placeholder="Enter your search & hit return...">
				</form>
			</li>
#}
		</ul>
	</nav>
	
	<!-- Main Content
	================================================== -->
	<main class="content__main" role="main">
	{% block content %}
		{% cache %}	
			<h2>ERROR!</h2>
		{% endcache %}
	{% endblock %}
	</main>
	
	<!-- Footer
	================================================== -->
	<footer role="contentinfo" class="footer // content--above // diag-t-rh">
		<section class="content--pad  grid">
			<div class="footer__info">
				<nav class="footer__sitemap // heading--small">
					<ul>
						<li><a href="{{ siteUrl }}">Home</a></li>
						<li><a href="{{ siteUrl }}code-of-conduct">Code Of Conduct</a></li>
						<li><a href="{{ siteUrl }}terms">T & Cs</a></li>
						<li><a href="{{ siteUrl }}#tickets">Tickets</a></li>
						<li><a href="{{ siteUrl }}past">Past</a></li>
						<li><a href="{{ siteUrl }}speak">Give A Talk</a></li>
						<li><a href="{{ siteUrl }}our-guide-to-milton-keynes">Local Guide</a></li>
					</ul>
				</nav>		
				<nav class="">
					{# Icons are from where? #}
					<ul class="footerSocial">
						<li>
							<a href="http://twitter.com/MKGeekNight" target="_blank" class="no--underline">
								<svg class="icon">
									<use xlink:href="#icon-twitter"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/mkgeeknight/" target="_blank" class="no--underline">
								<svg class="icon">
									<use xlink:href="#icon-instagram"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="http://www.facebook.com/MKGeekNight" target="_blank" class="no--underline">
								<svg class="icon">
									<use xlink:href="#icon-facebook"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://soundcloud.com/mkgn" target="_blank" class="no--underline">
								<svg class="icon">
									<use xlink:href="#icon-soundcloud"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://www.flickr.com/search/?q=mkgn" target="_blank" class="no--underline">
								<svg class="icon">
									<use xlink:href="#icon-flickr"></use>
								</svg>
							</a>
						</li>
						<li>
							<a href="mailto:howdy@mkgeeknight.co.uk" target="_blank" class="no--underline">
								<svg class="icon">
									<use xlink:href="#icon-email"></use>
								</svg>
							</a>
						</li>
					</ul>
				</nav>
				
				<span class="text--centi">
					{{ footer.body }}
				</span>
			</div>
			
			<div class="footer__subscribe">
				<p class="text--h6 margin--half">Get updates in your Inbox</p>

				<a href="http://eepurl.com/dwtlBr" class="btn btn--small" target="_blank"><b>Subscribe to our list</b></a>
				<!-- <form action="http://email.pixelcreation.co.uk/t/r/s/gpdlj/" method="post" id="subForm" autocomplete="on" data-parsley-validate="">
					<label for="gpdlj-gpdlj">Get updates in your Inbox</label>
					<fieldset class="fieldset--inline">
						<input type="email" name="cm-gpdlj-gpdlj" id="gpdlj-gpdlj" placeholder="Email Address" required="" data-parsley-error-message="We need a valid email address!">
					</fieldset>
					<fieldset class="fieldset--inline">
						<button type="submit" class="btn--small"><b>Subscribe</b></button>
					</fieldset>
				</form> -->
				<!-- Begin MailChimp Signup Form -->
				
				
				
				<!--End mc_embed_signup-->
			</div>
		</section>
	</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
	if( !window.jQuery ) document.write('<script src="{{ siteUrl }}js/min/jquery-3.0.0.min.js"><\/script>');
</script>
<script src="{{ siteUrl }}js/min/plugins-min.js"></script>
<script src="{{ siteUrl }}js/min/scripts-min.js"></script>
</body>
</html>