{% extends "/main" %}

{% block main %}
	
	<div class="hero hero--mid flex flex-column justify-between">
		<div class="container max-width-xxl color-white svg-inherit margin-bottom-lg">
			{# <div class="color-white text-lg font-bold">MK Geek Night</div> #}
			<svg class="width-xxxl hide@md margin-bottom-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 932.56 258.67"><title>MK Geek Night</title><path d="M178.08 9.73h50v249h-50v-174.35l-59.37 65.74-59.37-65.74v57.19l-49.98 55.43v-187.27h50l59.37 65.82zm269.83 163.2l44.79-49.64c5.58-38.83 39.3-68.69 80.05-68.69a81.14 81.14 0 0 1 39.72 10.31l33.73-37.21a131 131 0 0 0-73.45-22.37c-72.16 0-130.65 57.91-130.65 129.34a128.1 128.1 0 0 0 5.81 38.26zm139.43-13.7h21.56l22.66-25.09 22.44-24.89h-66.7zm304.6-149.76v174.71l-118.74-174.45h-50v187.27l50-55.4v-57.22l118.74 174.37h50v-249.28zm-196.7 99.79l-22.47 24.88-22.66 25.09h-.38a81.22 81.22 0 0 1-142.45 22.44l-33.65 37.26a130.9 130.9 0 0 0 99.12 45.07c63.66 0 116.55-45.1 128.16-104.77v-50zm-225.65-99.79l-67.59.16-92 102 .07-.07v-101.83h-50v231.68l96.93-107.27zm-112.59 124.67l-33.64 37.25 78.64 87.2 67.56.16-112.56-124.64z" transform="translate(-9.36 -5.33)"/></svg>

			<h1 class="color-white text-xl text-xxl@sm  margin-bottom-xxxs">#34 Sep 24, 2020</h1>

			<ul class="hero__keywords padding-bottom-md padding-bottom-0@md color-tertiary font-secondary flex@sm flex-wrap text-sm@md text-base@lg">
				<li class="line-height-sm">Talks start 19:30BST</li>
				<li class="line-height-sm">Virtual event</li>
				<li class="line-height-sm">Q&A at the end</li>
			</ul>
		</div>

		<div class="container max-width-xxl text-component color-white">
			<p class="max-width-md">The Next MKGN will be held on Thursday 24th September. The Live Stream will commence at 19:30BST and should finish at approximately 22:30BST. We'll hold a live Q&A and the end, after all of the speakers have presented.</p>
		</div>
	</div>



		<div class="container max-width-xxl margin-top-lg margin-bottom-xxl" id="next-mkgn">

		    <h2 class="text-xl text-xxl@sm margin-bottom-xxxxs">Topics, speakers & schedule</h2>
		    <div class="margin-bottom-lg">Timings are approximate</div>

		    <div class="grid gap-lg@sm margin-bottom-lg">
		    	<div class="text-component col-12 col-1@lg font-bold text-md@sm color-secondary text-md@lg margin-bottom-xs margin-bottom-0@md order-1">
			    	<time class="">19:35</time>
			    </div>
		    	<div class="text-component col-8@sm col-7@lg order-3 order-2@sm">
		    		<div class="color-contrast-high font-bold text-md">Aarron Walter</div>
		    		<h3 class="margin-top-0 text-md@lg text-lg@xl">Designing For Emotion</h3>

		    		<p>Design for delight was the mantra of many teams a decade ago, but our world and the web have since changed, bubbling up a complicated range of emotions in us all. It's time to do more than delight. Let's take a more sophisticated approach to design to address the challenges of our times.</p>

		    		<p>How do we design experiences that build trust with skeptics, address people's fears, and are more inclusive of those who have been left out? Aarron Walter will show you how emotional design—the intersection of design and psychology—can help you and your team design better experiences for all.</p>

		    		<h4>About Aarron</h4>

		    		<p>Aarron Walter is VP of design publishing at InVision, drawing upon fifteen years of experience running product teams and teaching design to help companies enact design best practices. Aarron founded the UX practice at MailChimp and helped grow the product from a few thousand users to more than 10 million. His design guidance has helped the White House, the US Department of State, and dozens of major corporations, startups and venture capitalist firms. You’ll find Aarron sharing thoughts about design on Twitter @aarron, and as the cohost of the Webby nominated Design Better podcast.</p>
		    	</div>
		    	<figure class="col-3@sm margin-bottom-xs margin-bottom-0@md order-1 order-3@sm">
					<div class="margin-left-0 event__img"><img src="/assets/img/s-aarronwalter.jpg" alt="Aarron Walter"></div>

					<figcaption aria-hidden="true" class="event__socials text-component display@sm">
						<ul class="no-bullets font-bold">
							<li class="margin-right-sm"><a href="">Website</a></li>
							<li class="margin-right-sm"><a href="">Twitter</a></li>
							<li class="margin-right-sm"><a href="">Instagram</a></li>
						</ul>
					</figcaption>
				</figure>
				<div class="col-1@sm order-3">
					<div class="text-component speaker__role">VP of content at InVision</div>
				</div>
				<ul class="no-bullets font-bold flex hide@sm order-3">
					<li class="margin-right-sm"><a href="">Website</a></li>
					<li class="margin-right-sm"><a href="">Twitter</a></li>
					<li class="margin-right-sm"><a href="">Instagram</a></li>
				</ul>
		    </div>
		</div>
		    {# <div class="grid gap-lg margin-bottom-xxxxs">
			    <div class="card-v3 col-6@sm col-4@lg">
					<a href="{{ siteUrl }}event" class="card-v3__link" aria-label="Details of this speaker and talk">
						<figure class="card-v3__img">
							<img src="/assets/img/s-aarronwalter.jpg" alt="Aarron Walter">
						</figure>

						<div class="card-v3__content">
							<div class="card-v3__label">Aarron Walter</div>
							<h3 class="color-primary text-md@lg text-lg@xl">Designing For Emotion</h3>
						</div>

						<div class="card-v3__footer">
							<span>More about this talk</span>
							<svg class="icon" viewBox="0 0 16 16"><g fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><line x1="0.5" y1="8.5" x2="15.5" y2="8.5"></line><polyline points="10.5,3.5 15.5,8.5 10.5,13.5 "></polyline></g></svg>
						</div>
					</a>
				</div>
				<div class="card-v3 col-6@sm col-4@lg">
					<a href="{{ siteUrl }}event" class="card-v3__link" aria-label="Details of this speaker and talk">
						<figure class="card-v3__img">
							<img src="/assets/img/s-alisoncoward.jpg" alt="Alison Coward">
						</figure>

						<div class="card-v3__content">
							<div class="card-v3__label">Alison Coward</div>
							<h3 class="color-primary text-md@lg text-lg@xl">Cultivating Your Remote Team Culture</h3>
						</div>

						<div class="card-v3__footer">
							<span>More about this talk</span>
							<svg class="icon" viewBox="0 0 16 16"><g fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><line x1="0.5" y1="8.5" x2="15.5" y2="8.5"></line><polyline points="10.5,3.5 15.5,8.5 10.5,13.5 "></polyline></g></svg>
						</div>
					</a>
				</div>
				<div class="card-v3 col-6@sm col-4@lg">
					<a href="{{ siteUrl }}event" class="card-v3__link" aria-label="Details of this speaker and talk">
						<figure class="card-v3__img">
							<img src="/assets/img/zach-lieberman.jpg" alt="Zach Lieberman">
						</figure>

						<div class="card-v3__content">
							<div class="card-v3__label">Zach Lieberman</div>
							<h3 class="color-primary text-md@lg text-lg@xl">Poetic Computation</h3>
						</div>

						<div class="card-v3__footer">
							<span>More about this talk</span>
							<svg class="icon" viewBox="0 0 16 16"><g fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><line x1="0.5" y1="8.5" x2="15.5" y2="8.5"></line><polyline points="10.5,3.5 15.5,8.5 10.5,13.5 "></polyline></g></svg>
						</div>
					</a>
				</div>
			</div> #}

			<h3 class="text-component color-contrast-high">View the <a href="{{ siteUrl }}event">event details and schedule</a>.</h3>


		{% include '_includes/tickets' %}

		{% include '_includes/partners' %}

		<div class="container max-width-xxl text-component margin-top-lg">
			<h5 class="font-primary font-bold color-accent">Upcoming events</h5>
		</div>

		<div id="animated-cards">
			<div class="anim-cards js-anim-cards">
				<ul class="anim-cards__list">
					<li class="anim-cards__item text-component font-secondary color-accent text-md text-gradient">
						#34 September 17, 2020
					</li>
					<li class="anim-cards__item text-component font-secondary color-accent text-md text-gradient">
						#35 December 10, 2020
					</li>
					<li class="anim-cards__item text-component font-secondary color-accent text-md text-gradient">
						#36 March TBC, 2021
					</li>
				</ul>
			</div>
		</div>
{% endblock %}