{% extends "/main" %}

{% block main %}
    <h1>Hey there!</h1>

    <article class="article text-component">
        <h2>Hey there!</h2>

        <p>The next MKGN event will be on Thursday 12th March, 2020.  The doors open at 18.30 with our first speaker on stage around 19.30. The bar stays open until 23:00 so stick around for drinks, chat and a chance to network.</p>

        <p>All of our events are held in the Skyroom at MK Gallery with drinks and breaks held within the cafe. MK Gallery is in Central Milton Keynes next to Milton Keynes Theatre and opposite centre:mk.</p>
    </article>
{% endblock %}